@font-face {
    font-family: 'SCDream3';
    src: url('../fonts/SCDream3.otf');
}

@font-face {
    font-family: 'SCDream5';
    src: url('../fonts/SCDream5.otf');
}

@font-face {
    font-family: 'SCDream7';
    src: url('../fonts/SCDream7.otf');
}

@font-face {
    font-family: 'SCDream8';
    src: url('../fonts/SCDream8.otf');
}

$mainColor:#158467;
$subColor:#197163;

@mixin font($size:30px, $opacity:0.8) {
    color: rgba(255, 255, 255, $opacity);
    font-size: $size;
}


/* COMMON */
body {
    font-family: 'SCDream3';
    background: $mainColor;
    @include font;
}

section {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    padding-top: 180px;

}

.container {
    width: 1080px;
    margin: 0 auto;
}

/* HEADER */
header.active {
    top: 0;
}

header {
    height: 80px;
    width: 100%;
    background: $mainColor;
    z-index: 4;
    top: -100px;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
    transition: 0.4s;

    .container {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        line-height: 80px;
        cursor: pointer;

        img {
            width: 70%;
        }
    }

    .menus {
        height: 100%;
        display: flex;
        align-items: center;


        li:last-child {
            margin-right: 0;
        }

        li {
            display: inline-block;
            margin-right: 20px;

            a.active {
                @include font($size:16px, $opacity:1);
            }

            a {
                @include font($size:16px, $opacity:0.4);
                display: block;
                background: $subColor;
                border-radius: 12px;
                padding: 12px 15px;
                transition: 0.5s;

            }
        }
    }
}

/* HOME */
.home {
    background: linear-gradient(to right, $mainColor, $mainColor 50%, $subColor 50%);
    position: relative;

    .main_letter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        span:first-child {
            color: $subColor;
        }

        span:first-child:after {
            content: "";
            width: 100%;
            height: 6px;
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            left: 0;
            top: 0;
        }

        span:last-child {
            color: $mainColor;
        }

        span:last-child:after {
            content: "";
            width: 100%;
            height: 6px;
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            left: 0;
            bottom: -5px;
        }

        span {
            font-family: 'SCDream8';
            font-size: 60px;
            position: relative;
        }

    }

    p {
        @include font($size:15px, $opacity:0.2);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;

    }
}

/* INTRO */
.introduce {

    height: 150vh;

    .intro_contents {
        .intro.second.active .answer {
            height: 250px;
        }

        .intro.active {
            .question a {
                @include font($size:50px, $opacity:1);
            }

            .answer {
                height: 120px;
                visibility: visible;

            }
        }

        .intro {
            margin-bottom: 70px;


            .question a {
                font-family: 'SCDream7';
                @include font($size:50px, $opacity:0.8);
            }


            .answer {
                @include font($size:36px, $opacity:0.7);
                line-height: 56px;
                letter-spacing: -1px;
                margin-top: 30px;
                transition: 0.5s;
                padding-left: 57px;
                height: 0;
                overflow: hidden;
                visibility: hidden;

                span {
                    margin-right: 5px;
                }
            }
        }

        /* 마지막 intro 부분만 스타일 다름 */
        .intro.third {
            .answer {
                padding-left: 70px;
                margin-top: 40px;

                .ziny {
                    margin-right: 20px;
                    display: inline-block;

                    .greenbox {
                        color: #fff;
                        background: $subColor;
                        padding: 6px 20px;
                    }
                }

                .certification {
                    display: inline-block;

                    .cert_wrapper:hover {


                        .cert_name {
                            opacity: 0.4;
                            visibility: visible;
                        }
                    }

                    .cert_wrapper {
                        position: relative;
                        display: inline-block;


                        .cert_more {
                            opacity: 1;

                        }

                        .cert_name {
                            visibility: hidden;
                            position: absolute;
                            left: 52px;
                            top: 7px;
                            width: 160px;
                            opacity: 0;
                            margin-left: 10px;




                            p {
                                font-weight: bold;
                                font-size: 17px;
                                letter-spacing: 0;
                                line-height: 22px;
                                padding-left: 5px;

                            }
                        }

                    }

                }
            }
        }
    }
}

/* GALLERY */
.gallery {
    display: flex;
    justify-content: center;

    .gall_content:last-child {
        margin-right: 0;
    }

    .gall_content:nth-child(2) .box {
        border-radius: 15px;
    }

    .gall_content {
        display: inline-block;
        margin-right: 80px;
        text-align: center;

        h3 {
            font-family: 'SCDream5';
            margin-bottom: 60px;

            position: relative;


        }

        h3:after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);

            background: rgba(255, 255, 255, 0.1);
        }

        .site_link {
            width: 300px;
            height: 450px;
            display: block;
        }


        .box {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 15px;
            position: relative;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);


            .preview {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    left: 50%;
                    top: 53%;
                    transform: translate(-50%, -50%);
                    width: 400px;
                }
            }

            .desc {
                position: absolute;
                left: 0;
                bottom: 30px;
                z-index: 3;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: 0.3s;

                p {
                    @include font($size:26px, $opacity:0.8);

                    line-height: 40px;
                }
            }

            .black {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                opacity: 0.3;
                transition: 0.3s;
            }

        }


        .box:hover img {
            animation: bigger 2s ease-out forwards;
            animation-delay: 0.2s;
        }

        .box:hover .desc {
            opacity: 1;
        }

        .box:hover .black {
            opacity: 1;
        }

        @keyframes bigger {
            0% {
                width: 400px;
            }

            100% {
                width: 700px;
            }
        }
    }
}

/* CONTACT */
.contact {
    height: 120vh;
    text-align: center;

    .contact_me {

        margin-top: 200px;
        margin-bottom: 50px;

        p {
            line-height: 50px;
        }
    }

    .copy_btn {
        border: none;
        padding: 20px 35px;
        color: #fff;
        background: $subColor;
        font-family: 'SCDream7';
        @include font($size:22px, $opacity:0.4);
        border-radius: 4px;
        transition: 0.3s;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .copy_btn:hover {
        background: #166659;
    }

    .copy_btn:focus {
        background: #166659;
        color: rgba(255, 255, 255, 0.7);
        box-shadow: none;
    }
}

/* FOOTER */
footer {
    width: 100%;
    padding: 30px 0;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    p {
        @include font($size:15px, $opacity:0.4);
        line-height: 20px;
        margin-left: 30px;
    }
}

@media (max-width:1140px) {
    .container {
        width: 980px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .gallery .gallery_contents {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }

    .gallery .gall_content {
        margin-right: 0;
        width: 33%;
    }
}

@media (max-width:980px) {
    .container {
        width: 85%;
    }

    .introduce .intro_contents .intro .question a {
        font-size: 35px;
    }

    .introduce .intro_contents .intro.active .question a {
        font-size: 35px;
    }


    .introduce .intro_contents .intro .answer p {
        font-size: 30px;
    }

    .introduce .intro_contents .intro.third .answer {
        padding-left: 0;
    }

    .introduce .intro_contents .intro.third .answer .certification .cert_wrapper .cert_name {
        display: block;
        visibility: visible;
        overflow: visible;
        opacity: 0.4;
    }

    .gallery .gall_content .box {
        width: 85%;
        height: 86%;
    }

}

@media (max-width:480px) {
    .home .main_letter span:first-child:after {
        top: -6px;
    }

    .home .main_letter span {
        font-size: 40px;
    }

    .home p {
        text-align: center;
        line-height: 20px;
    }

    .gallery .gall_content .site_link {
        width: 100%;
    }

    header {
        height: 60px;
    }

    nav {
        width: 100%;
    }

    header .container {
        height: 100%;
    }

    header h1 {
        display: none;
    }

    header .menus {
        justify-content: center;
    }

    header .menus li:last-child {
        margin-right: 0;
    }

    header .menus li a {
        font-size: 15px;
    }

    header .menus li a.active {
        font-size: 15px;
    }

    .introduce {
        height: 130vh;

    }

    .introduce .intro_contents .intro {
        margin-bottom: 50px;
    }

    .introduce .intro_contents .intro.active .question a {
        font-size: 23px;
    }

    .introduce .intro_contents .intro .question a {
        font-size: 23px;
    }

    .introduce .intro_contents .intro .answer {
        padding-left: 7px;
    }

    .introduce .intro_contents .intro .answer p {
        font-size: 20px;
        line-height: 30px;
    }

    .introduce .intro_contents .intro.third .answer .ziny {
        display: block;
    }

    .introduce .intro_contents .intro.third .answer {
        padding-left: 8px
    }

    .introduce .intro_contents .intro .answer {
        font-size: 25px;
    }

    .introduce .intro_contents .intro.second.active .answer {
        height: 155px;
    }

    .introduce .intro_contents .intro.third.active .answer {
        height: 140vh;
    }

    .introduce .intro_contents .intro.third .answer .ziny {
        position: relative;
    }

    .introduce .intro_contents .intro.third .answer .ziny .greenbox {

        position: absolute;
        padding: 0;
        left: 0;
        opacity: 0;
        width: 60px;
    }

    .introduce .intro_contents .intro.third .answer .certification .cert_wrapper {

        width: 50%;
        height: 40px;
    }

    .introduce .intro_contents .intro.third .answer .certification .cert_wrapper .cert_more {
        display: none;

    }

    .introduce .intro_contents .intro.third .answer .certification .cert_wrapper .cert_name {

        left: 7px;
        opacity: 0.4;
        top: 17px;
        width: 202px;

        p {
            font-size: 18px;
            line-height: 28px;


        }
    }

    .introduce .intro_contents .intro.third .answer .certification .cert_wrapper:hover {
        .cert_name {
            opacity: 0.4;
            visibility: visible;

        }
    }

    .gallery .gallery_contents {
        flex-wrap: wrap;
    }

    .gallery .gall_content {
        width: 75%;

    }

    .gallery .gall_content .box {
        margin: 0 auto;
        height: 60%;
    }

    .contact .contact_me {
        margin-top: 140px;
    }

    .contact .contact_me p {
        font-size: 26px;
        line-height: 45px;
    }

    .gallery .gall_content .box .desc {
        opacity: 0.5;
    }

    .gallery .gall_content .box .desc p {
        font-size: 22px;
        line-height: 34px;
    }

    .gallery .gall_content .box .black {
        opacity: 0.9;
    }

}